{% extends 'registration/base.html' %}
{% block title %} Course-enrolled_students {% endblock %}

{% block content %}
<div class="course-student-container">
<table class="course-students-table">
    <tr>
        <th id="course-name" colspan="2">{{std_name}}</th>
    </tr>
    <tr>
        <th>Sl no</th>
        <th>Students Name</th>
    </tr>
    {% for student in std_name.enrolled_course.all %}
    <tr>

        <td>{{ forloop.counter }}</td>
        <td>{{ student }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
