{% extends 'registration/base.html' %}

{% block title %}Home Page {% endblock %}

{% block content %}

    <table class="home-tabl">
      <tr>
        <th>Title</th>
        <th style="width: 50%">Description</th>
        <th>Maximum Capacity</th>
        <th>Current Enrolled</th>
      </tr>
      {% for course in courses %}

      <tr>
        <td><a href="{% url 'course_std' course.id %}" >{{ course.title }}</a></td>
        <td>{{ course.description }}</td>
        <td style="text-align: center">{{ course.maximum_capacity }}</td>
        <td style="text-align: center">{{ course.current_enrolled }}</td>
      </tr>
      {% endfor %}
    </table>

    {% endblock %}

