{% extends 'registration/base.html' %}
{% block title %}Registration
{% endblock %}
{% block content %}
{% if messages %} {% for message in messages %}
<h3 style="color: green">{{ message }}</h3>
{% endfor %} {% endif %} 
{% if form.errors %} {% for field in form %} 
{% for error in field.errors %}
<h3 style="color: red">{{ error }}</h3>
{% endfor %} {% endfor %} {% endif %}

<div class="register-container">
  <form action="" method="POST">
    {% csrf_token %}
    <table align="center" class="register-table">
      <tr>
        <th colspan="2">Registration Form</th>
      </tr>
      <tr>
        <td>
          <label>Name</label>
        </td>
        <td>{{ form.name }}</td>
      </tr>
      <tr>
        <td>
          <label>Email</label>
        </td>
        <td>{{ form.email}}</td>
      </tr>
      <tr>
        <td>
          <label for="">Select Course</label>
        </td>
        <td>{{ form.enrolled_course }}</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center">
          <button type="">
            <a style="text-decoration: none" href="{% url 'home' %}">Home</a>
          </button>
          <button type="submit">Submit</button>
        </td>
      </tr>
    </table>
  </form>
</div>   
{% endblock %}